* {
    margin: 0;
    padding: 0;
}

@import 'sass/colors';
@import 'sass/typography';

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: $black-purple;
}

@import 'sass/layout';