$black: #000;
$white: #FFF;

$black-purple: #19011D;
$black-purple-light: #27022D;

$bg-primary: #727CF5;
$bg-secondary: #6C757D;
$bg-success: #0ACF97;
$bg-danger: #FA5C7C;
$bg-warning: #FFBC00;
$bg-info: #39AFD1;
